<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Gesti&oacute;n de Libros</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/superhero/bootstrap.min.css">

    </head>
    <body>
        <h1 align="center">Gesti&oacute;n de Libros</h1>
        <span></span>

        <div class="container">
        <!-- bloque de contenido para el contenido de la página-->
        {% block content %}

        {% endblock %}
        </div>
    </body>
</html>

